{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src={% static "js/script.js" %}></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="main_logo">
            <div class="main_logo_text"><b>EWatch</b><p>Clocks. Rich Flex.</p></div>
        </div>
        <ul>
            <li class="search-input">Поиск</li>
            <li>Бренды</li>
            <li>Часы</li>
            <li>Аксессуары</li>
            <li>Ремешки</li>
            <li>Корзина</li>
            <li class="login-btn">Войти | Регистрация</li>
        </ul>
    </header>
    <hr>

    {% block content %}

    {% endblock %}

</body>
</html>