{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src={% static "js/script.js" %}></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="main_logo">
            <a href="{% url 'mainpage' %}">
                <div class="main_logo_text"><b>EWatch</b><p>Watches. Rich Flex.</p></div>
            </a>
        </div>
        <ul>
            <li class="search-input">
                <img class="search-img" src="{% static "img/search.svg" %}"/>
                <input class="search-input-text" placeholder="Поиск">
            </li>
            <div style="display: flex;">
                <li><a href="{% url 'watches' %}">Часы</a></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Ремешки</a></li>
                <li><a href="#">Корзина</a></li>
            </div>
            <li class="login-btn">
                 <img class="account-img" src="{% static "img/user-profile.svg" %}"/>
            </li>
        </ul>
    </header>
    <hr>

    {% block content %}

    {% endblock %}

</body>
</html>