{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container2">
        <div class="left-text">
            <div><b>APPLE WATCH</b></div>
            <p class="left-small-text">Показывают максимум.</p>
            <p class="left-small-text">Всё, что вам нужно.</p>
            <p class="left-small-text">Повсюду с вами.</p>
        </div>
            <div class="beige-rect" style="display: flex;align-items: center;justify-content: center;">
                <div style="z-index: 2;"><img class="watch-image" src="{% static "img/watches.png" %}"/></div>
            </div>

        <div class="right-text">
            <b>70.000₽</b>
            <div><button class="mainpage-shopnow" onclick="location.href ='watches/2'">Приобрести</button></div>
        </div>
    </div>

{% endblock %}
