{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="user-info">
        <p>Добро пожаловать, {{ user.username }}</p>
        <div class="d-flex justify-content-evenly w-100">
            <a href="{% url 'basket' %}"><div class="profile-action">Моя корзина</div></a>
            <a href="{% url 'orders' %}"> <div class="profile-action">Мои заказы</div></a>
            <a href="{% url 'logout' %}"><div class="profile-action">Выйти</div></a>
        </div>
    </div>
{% endblock %}