{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="box">
        <form method="post">
            {% csrf_token %}
            <div class="forErrors">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }} </label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            {% endfor %}
            <button class="register-btn" type="submit">Зарегистрироваться</button>
            <a href="{% url 'auth' %}">Войти</a>
        </form>
    </div>

{% endblock %}
