{% extends 'index.html' %}
{% load static %}
{% load cut_price %}

{% block content %}

    <div class="goods-for-orders d-flex">
        {% for obj in objects %}
            <div class="basket-card justify-content-around align-items-center" style="box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3); width: 40%; margin: 15px auto; border-radius: 25px; padding: 20px;">

                <div class="watch-card-img"><img class="watch-img" style="width: 240px; height: auto;" src="{{ obj.product.watch_img.url }}"/></div>
                <div class="watch-card-text" style="font-size: 24px; font-family: 'Roboto', sans-serif;">
                    <p class="watch-brand">
                        <b><a style="text-decoration: none" href="{{ obj.product.get_absolute_url }}">{{ obj.product.manufacturer.name }} {{ obj.product.name }}</a></b>
                    </p>
                    <p class="watch-price">{{ obj.product.price|cut_price }}₽</p>
                </div>

            </div>
        {% endfor %}
    </div>
    <div style="margin: 0 auto; width: fit-content; font-size: 24px; font-family: 'Roboto', sans-serif;"><p>Общая цена заказа: {{ total_price|cut_price }}₽</p></div>


    <div class="box position-static" style="margin: 0 auto; transform: inherit;">
        <form method="post">
            {% csrf_token %}
            <div class="forErrors">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }} </label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            {% endfor %}
            <button class="register-btn" type="submit">Оформить заказ</button>
            <a href="{% url 'basket' %}">Отмена</a>
        </form>
    </div>


{% endblock %}
