{% extends 'index.html' %}
{% load static %}
{% load cut_price %}

{% block content %}

    <div class="catalog-block">

        <div class="sidebar">
            <div class="filter-box">
                <form method="post">
                    {% csrf_token %}
                    <div class="forErrors">{{ filter_form.non_field_errors }}</div>
                    {% for f in filter_form %}
                        <p><label for="{{ f.id_for_label }}">{{ f.label }} </label>{{ f }}</p>
                        <div>{{ f.errors }}</div>
                    {% endfor %}

                    <label for="is_water_resist">Водонепроницаемые </label><input type="checkbox" name="is_water_resist" id="is_water_resist"/>

                    <button class="register-btn" type="submit">Применить</button>
                    <a href="#">Сбросить фильтры</a>
                </form>
            </div>
        </div>

        <div class="watches-container">
            {% for watch in watches %}
                <div class="watch-card">
                    <a href="{{ watch.get_absolute_url }}">
                        <div class="watch-card-img"><img class="watch-img" src="{{ watch.watch_img.url }}"/></div>
                        <div class="watch-card-text">
                            <p class="article">{{ watch.article }}</p>
                            <p class="watch-brand">{{ watch.manufacturer.name }} {{ watch.name }}</p>
                            <p class="watch-price">{{ watch.price|cut_price }}₽</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

    {% if page_obj.has_other_pages %}
        <nav class="paginate">
            <ul class="forPaginate">
                <li>
                    {% if page_obj.number == 1 %}
                    <a href="?page=1" style="color: red;">1</a>
                    {% else %}
                    <a href="?page=1">1</a>
                    {% endif %}
                </li>

                {% for p in paginator.page_range %}
                    {% if p != 1 and p != page_obj.paginator.num_pages %}
                        {% if p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li>
                                {% if page_obj.number == p %}
                                    <a href="?page={{ p }}" style="color: red;">{{ p }}</a>
                                {% else %}
                                    <a href="?page={{ p }}">{{ p }}</a>
                                {% endif %}
                            </li>
                         {% elif p == 2 or p == paginator.num_pages|add:-1 %}
                            <li>
                               <a href="#" style="color: black;">...</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <li>
                    {% if page_obj.number == page_obj.paginator.num_pages %}
                        <a href="?page={{ page_obj.paginator.num_pages }}" style="color: red;">{{ page_obj.paginator.num_pages }}</a>
                    {% else %}
                        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
{% endif %}

{% endblock %}