{% extends 'index.html' %}
{% load static %}
{% load cut_price %}

{% block content %}

    <div class="catalog-block">
        <div class="sidebar">
            Тут фильтры
        </div>
        <div class="watches-container">
            {% for watch in watches %}
                <a href="#">
                    <div class="watch-card">
                        <div class="watch-card-img"><img class="watch-img" src="{% static 'img/watch1.jpg' %}"/></div>
                        <div class="watch-card-text">
                            <p class="article">{{ watch.article }}</p>
                            <p class="watch-brand">{{ watch.manufacturer.name }} {{ watch.name }}</p>
                            <p class="watch-price">{{ watch.price|cut_price }}₽</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}