{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="watches-container">
        <div class="watch-card">
            <div class="watch-card-img"><img class="watch-img" src="{% static 'img/watch1.jpg' %}"/></div>
            <div class="watch-card-text">
                <p class="article">6X27AF123</p>
                <div class="watch-name">
                    <h5 class="watch-brand">Rolex</h5>
                    <h5 class="watch-model">Daytona</h5>
                </div>
                <p class="watch-price">99999</p>
            </div>
        </div>


        <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
        <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
        <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
        <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
        <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
    <div class="watch-card">
            <div class="watch-card-img"><img/></div>
            <div class="watch-card-text">

            </div>
        </div>
    </div>

{% endblock %}