{% extends 'index.html' %}
{% load static %}
{% load cut_price %}

{% block content %}
    <div class="beige-circ">
        <div class="watch">
            <div class="watch-card-img"><img class="watch-img" style="height: 500px;" src="{{ watch.watch_img.url }}"/></div>
            <div class="watch-text">
                <p class="watch-brand"><b>{{ watch.manufacturer.name }} {{ watch.name }}</b></p>
                <p class="watch-price">{{ watch.price|cut_price }}₽</p>
                <p class="watch-text-2nd">{{ watch.gender }}</p>
                <p class="watch-text-2nd">Материал корпуса: {{ watch.material }}</p>
                <p class="watch-text-2nd">Материал ремешка: {{ watch.belt_type }}</p>
                <p class="watch-text-2nd">Диаметр: {{ watch.diameter }} мм.</p>
                <p class="watch-text-2nd">Толщина: {{ watch.thickness }} мм.</p>
                {% if watch.is_water_resist %}<p class="watch-text-2nd">Водонепроницаемые </p>{% endif %}
                <p class="watch-text-2nd">Гарантия: {{ watch.warranty }} года</p>
            </div>
        </div>
    </div>

    {% if is_in_basket %}
        <div style="font-size: 32px; font-family: 'Roboto', sans-serif;" class="d-flex justify-content-center">
            <a href="{% url 'basket' %}" class="text-decoration-none text-dark">Товар уже в корзине!</a>
        </div>
    {% else %}
        <div style="display: flex;margin: 0 auto;"><button class="shopnow2" onclick="location.href = '{% url 'add_to_basket' %}?product_id={{ watch.id }}'">Приобрести</button></div>
    {% endif %}

{% endblock %}