html {
  height: 89%;
}

* {
  box-sizing: border-box;
}

body {
  height: 90%;
}
body hr {
  margin: 0;
  background-color: #d1d1e0;
  border: none;
  height: 1px;
}

.header {
  width: 100%;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  align-items: center;
}
.header ul li {
  padding: 0 5px 0 5px;
}
.header ul li a {
  color: black;
  outline: none;
  text-decoration: none;
}
.header ul li .search-img {
  width: 30px;
  height: 30px;
}
.header ul li.search-input {
  align-items: center;
  align-content: center;
  display: flex;
}
.header ul li .search-input-text {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.header ul li .account-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header ul li.login-btn {
  width: 165px;
  display: flex;
  justify-content: flex-end;
}
.header .main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main_logo a {
  color: black;
  outline: none;
  text-decoration: none;
}
.header .main_logo_text {
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}
.header .main_logo_text p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.header .main_logo_img {
  width: 42px;
  height: 100%;
  padding-right: 5px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.container .beige-rect {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 65%;
  height: 80%;
  background-color: rgb(246, 244, 244);
  z-index: 0;
  align-self: center;
}
.container .left-text {
  font-size: 54px;
  font-family: "Roboto", sans-serif;
  z-index: 2;
  position: absolute;
  left: 110px;
}
.container .left-small-text {
  font-size: 30px;
  color: grey;
  margin: 5px 0 5px 0;
}
.container .right-text {
  z-index: 2;
  position: absolute;
  right: 170px;
  font-size: 54px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.container .right-text .mainpage-shopnow {
  border: black solid 2px;
  width: 100%;
  background-color: transparent;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  height: 45px;
  cursor: pointer;
}

.watch-image {
  padding-bottom: 15px;
}

.watches-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.watches-container .watch-card {
  display: flex;
  border: 1px solid darkgrey;
  width: 25%;
  height: auto;
  flex-direction: column;
  padding: 10px;
}
.watches-container .watch-card a {
  text-decoration: none;
  color: inherit;
}
.watches-container .watch-card a:hover {
  text-decoration: underline;
}
.watches-container .watch-card-img {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.watches-container .watch-card-img .watch-img {
  height: auto;
  width: 100%;
}
.watches-container .watch-card .watch-card-text .article {
  color: grey;
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.watches-container .watch-card .watch-card-text p {
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.catalog-block {
  display: flex;
}
.catalog-block .sidebar {
  display: flex;
  width: 400px;
}

.watch {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.watch-text {
  font-size: 22px;
  display: flex;
  flex-direction: column;
}
.watch-text .watch-brand {
  font-size: 44px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
}
.watch-text .watch-price {
  font-size: 44px;
  font-family: "Roboto", sans-serif;
  align-self: flex-end;
  margin: 10px 0 0 0;
}
.watch-text-2nd {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  align-self: flex-end;
  margin: 10px 0 0 0;
  color: grey;
}
.watch-img {
  height: 420px;
  width: auto;
}

.beige-circ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  background-color: rgb(246, 244, 244);
  align-self: center;
  margin: 2% auto;
  border-radius: 7%;
}

/*# sourceMappingURL=style.css.map */
